<!-- templates/fragments/sidebar.html -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
    th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org">

  <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/main}">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">ERP</div>
  </a>

  <hr class="sidebar-divider my-0"/>
  <li class="nav-item">
    <a class="nav-link" th:href="@{/main}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" th:href="@{/employee}">
      <i class="fas fa-fw fa-sitemap"></i>
      <span>사원정보조회</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" th:href="@{/ladder}">
      <i class="fas fa-fw fa-sitemap"></i>
      <span>사다리 게임</span>
    </a>
  </li>

  <hr class="sidebar-divider d-none d-md-block"/>
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
