<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.JDERP.ERP.mapper.LoginMapper">

    <select id="login" resultType="com.JDERP.ERP.model.Employee">
        SELECT EMP_CD, EMP_NM, DEPT_CD
        FROM EMPLOYEE
        WHERE EMP_CD = #{emp_cd}
        AND PASSWORD = #{password}
    </select>

</mapper>
